header {
    background-color: #014e2e;
    color: #c1d32f;
    padding: 20px;
    grid-area: header;
    padding:  1em;
}

nav {
    background-color: #c1d32f;
    grid-area: nav;
}

main {
    background-color: #013006;
    color: #c1d32f;
    grid-area: main;
}
aside {
    background-color: #c1d32f;
    grid-area: aside;
}
body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer"
    ;
}

nav ul {
    display:flex;
    justify-content: space-evenly;
}

.displaynav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}

.displaynav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}