header {
    background-color: #014e2e;
    color: #c1d32f;
    padding: 20px;
    grid-area: header;
    padding:  1em;
}

nav {
    background-color: #c1d32f;
    grid-area: nav;
}

main {
    background-color: #013006;
    color: #c1d32f;
    grid-area: main;
}
aside {
    background-color: #c1d32f;
    grid-area: aside;
}
body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer"
    ;
}

nav ul {
    display:flex;
    justify-content: space-evenly;
    position: fixed;
}

.displaynav {
    display: none;
}

